<!DOCTYPE html>

<style>
  canvas { width: 100%; height:100%; border-style: solid; }
</style>

<body>
<script src="../static/js/jquery.js"></script>
<script src="../static/three.min.js"></script>

<script>
    var centroids = '{{centroids}}';
    var curated_centroids = new Array(centroids.length * 2);
    for (var i = 0; i<curated_centroids.length; i++) { // convert to 60fps
	curated_centroids[i] = centroids[i-i%2];
	curated_centroids[i] = curated_centroids[i];
    }
    var frequencies = '{{frequencies}}';
    var curated_frequencies = new Array(frequencies.length * 2);
    for (var i = 0; i<frequencies.length; i++) {
	var sum = 0;
	for (var j = 0; j<frequencies[i].length; j++) {
	    sum += frequencies[i][j];
	}
	curated_frequencies[2*i] = sum / frequencies[i].length;
    }
    for (var i = 0; i<curated_frequencies.length; i++) {
	curated_frequencies[i] = curated_frequencies[i-i%2];
	curated_frequencies[i] = Math.floor(curated_frequencies[i] * 14);
    }
  console.log(curated_frequencies);

    var vols = '{{volumes}}';
    var curated_vols = new Array(vols.length * 2);
    for (var i = 0; i<curated_vols.length; i++) {
	curated_vols[i] = vols[i-i%2];
	curated_vols[i] = Math.floor(curated_vols[i] * 9);
    }

    var scene = new THREE.Scene();

    var scene_WID = 800;
    var scene_HT = 600;
    var camera = new THREE.PerspectiveCamera(75, scene_WID/scene_HT, 0.1, 1000);
    camera.position.z = 9;
    camera.position.x = -5;

    var renderer = new THREE.WebGLRenderer();
    renderer.setSize(scene_WID,scene_HT);
    document.body.appendChild(renderer.domElement);

    var planeGeometry = new THREE.PlaneGeometry(150,150,0,0);
    var planeMaterial = new THREE.MeshPhongMaterial({ color:0xf0f0f0 });
    var plane = new THREE.Mesh(planeGeometry, planeMaterial);
    scene.add(plane); //background
    plane.position.z = -21;

    var spotlight = new THREE.SpotLight(0xFFFFFF);
    spotlight.position.z = 80;
    scene.add(spotlight); //SpotLights create shadows in one direction

    var width = 15;
    var height = 10;
    var cubes = new Array(width);
    for (var i = 0; i<width ; i++) {
	cubes[i] = new Array(height);
    }

    var materials = new Array(width*height);
    for (var i = 0; i<width*height; i++) {
	materials[i] = new THREE.MeshPhongMaterial({ color:0xf0f0f0 });
    }
    var cubeGeometry = new THREE.CubeGeometry(0.5,0.5,0.5);

    x = -7; mat = 0;
    for (var i = 0; i<width; i++) {
	y = -4;
	for (var j = 0; j<height; j++) {
	    cubes[i][j] = new THREE.Mesh(cubeGeometry, materials[mat]);
	    scene.add(cubes[i][j]);
	    cubes[i][j].position.x=x;
	    cubes[i][j].position.y=y;
	    y++;
	    mat++;
	}
	x++;
    }


    function light_column(freq, vol) {
	for (var i = 0; i<=vol; i++) {
	    if (i >= 0.7*height) {
		cubes[freq][i].material.color.setHex(0xff0000);
	    }
	    else{
		cubes[freq][i].material.color.setHex(0x0000ff);
	    }
	}
	setTimeout(function() {
		for (var i = 0; i < height; i++) {
		    cubes[freq][i].material.color.setHex(0xf0f0f0);
		}
	    }, 400);
    }

    function light_region(freq, vol) {
	light_column(freq, vol);
	if (vol >= 3) {
	    if (freq > 0) {
		light_column(freq-1, vol-2);
	    }
	    if (freq < width-1) {
		light_column(freq+1, vol-2);
	    }
	}
	if (vol >= 5) {
	    if (freq > 1) {
		light_column(freq-2, vol-4);
	    }
	    if (freq < width-2) {
		light_column(freq+2, vol-4);
	    }
	}
    }

    var index = 0;
    function render() {
	requestAnimationFrame(render);
	renderer.render(scene,camera);
//	camera.position.x = 3*Math.cos(index/200);
//	camera.position.y = 3*Math.sin(index/200);
//	if (index < curated_vols.length) {
//	    spotlight.position.z = 30 + 60*curated_centroids[index];
//	    camera.lookAt(new THREE.Vector3(0 ,0,0));
//	    light_region(curated_frequencies[index],curated_vols[index]);
// 	}
//	index++;
    }

    render();

</script>

</body>
</html>
